@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

body{
  text-align: center;
  width: 375px;
font-size: 12px;
line-height: 1.6;
font-family: 'Zen Kaku Gothic New',sans-serif;
}

.s2 img{
  width:335px;
  height:135px;
}

.s1 ul li:first-child img{
  width: 295px;
  height: 221px;
}

.s1 ul li:not(:first-child) img{
  width: 137.5px;
  height: 150px;
}


.s3 img:first-of-type{
  width: 223px;
  height: 132px;
}

.s3 img:nth-of-type(2){
  width: 157.5px;
  height: 81px;
  object-fit: cover;
}
.s3 img:nth-of-type(3){
  width: 157.5px;
  height: 81px;
  object-fit: cover;
}

.s3 img:nth-of-type(4){
  width: 175px;
  height: 122px;
  object-fit: cover;
}

.s3 img:last-of-type{
  width: 175px;
  height: 122px;
  object-fit: cover;
}

/* トップにもどるボタン */
.topBtn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 30;
  width: 48px;
  height: 48px;
}
/* トップにもどるボタンエンド */

/* ローディング画面 */
#loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vW;
  height: 100vh;
  background: #007AB7;
  transition: all 2s;
  z-index: 200;
  display: flex;
  justify-content: center;
}

#loadingLogo{
  align-self: center;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}




header .menu #open{
  transform: translate3d(0,450px,0);  
}


header .menu{
  width: 225px;
  height: 667px;
  position: fixed;
  right: -427px;
  z-index: 99;
}

header{
  padding: 4px 20px;   
  /* 上が、赤線のpadding */
  background: url(../images/Hero.jpg) center;
  background-size: cover;
  /* 画像ファイル */
  height: 667px;
  text-align: left;
  /* SNSロゴ部分 */
  position: relative;
}

header div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  left: auto;
  bottom: 50px;
  /*  */
}

header div img{
  width:32px;
  height: 32px;
  margin-bottom: 20px;
}

header .TLogo{
  width: 111px;
  height: 45px;
}

header .TN{
  position: absolute;
  top: 120px;
  left: 88px;
  width: 199px;
  height: 372px;
}

header span{
  display: block;
  width: 247px;
  position: absolute;
  right: 20px;
  bottom: 8px;
  color: #fff;
}

footer{
  color: #fff;
  background-color: #007AB7;
}

footer .midFoot{
  background: url(../images/TaiwanLogo.svg) bottom left no-repeat;
  background-size: 71px 28px;
}

footer .flag{
width: 32px;
height: 24px;
margin: 20px auto;
}

footer ol{
  width: 195px;
  height: 167px;
  padding-bottom: 40px;
  text-align: left;
  margin: 90px;
}

footer div ol li{
  padding: 12px 0 6px;
  border-bottom: 1px solid #fff;
  line-height: 1;
}
  
footer div div{
  height: 32px;
  margin: 40px auto 12px;
}

footer div div img:not(last-child){
  margin-right: 20px;
}

footer>div:last-child{
  border-top: 1px solid #03A9F4 ;
  height: 34px;
  font-size: 10px;
}

footer span{
  display: inline-block;
  font-family: 'Noto Sans JP';
  margin: 12px auto;
}


main{
  padding: 0 20px;
}

main>div{
  text-align: left;
  font-size: 16px;
  height: 32px;
  line-height: 1;
  vertical-align: middle;
}


h2{
  display: inline-block;
  background-image: url(../images/h2.png);
  font-size: 24px;
  width: 220px;
  height: 40px;
  margin-top: 20px;

}

h2 span{

  font-size: 12px;
}


.s2comment{

  margin: 60px auto;
  width: 223px;

}
.h3comment{

  margin: 60px auto;
  width: 223px;

}

.h3comment{
  margin-bottom: 40px;
}

.h3comment span{
  font-size: 24px;
}
/* 
.s2comment::before::after{
  content: "";
} */

li{
  list-style:none
}

.s1{
  padding: 20px;
}

.s2 div div{
  width: 223px;
  line-height: 1.6;
  margin: 8px auto;
  text-align: left;
}

.s3 div:not(first-child){
  margin: 20px auto;
}


.s1 ul li:nth-child(2),.s1 ul li:nth-child(5){
  background-color: rgba(100,201,155,.2);
  padding: 8px 36px;
  margin: 20px 0;
  text-align: left;
}

.s1 ul li:nth-child(3){
  float: left;
}

.s1 ul li:nth-child(5){
  clear: left;
}



.s3 div{
width: 223px;
text-align: left;
}



hr .lastHr{
  margin: 40px 0;
}









#click-btn,#click-btn2,#click-btn3,#click-btn4 {
  display: block;
  margin: 20px auto;
  border: 0;
  padding: 6px 10px;
}

#popup-wrapper,#popup-wrapper2,#popup-wrapper3,#popup-wrapper4 {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5;
cursor: pointer;
}

#popup-inside,#popup-inside2,#popup-inside3,#popup-inside4 {
  text-align: center;
  background: #fff;
  position: fixed;
  object-fit: fill;
  top: 0;
  left: 30%;
}
.conte{
  display: flex;
  justify-content: space-around;
}

.conte img{
  width: 555px;
  height: 555px;
}

#message a,#message2 a,#message3 a,#message4 a {

  /* ここに中身の画像やメッセージを入力 */

  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

#close,#close2,#close3,#close4 {
  top: 0;
  right: 5px;
  cursor: pointer;
}















@media screen and (min-width:768px) {


.s1 ul li:first-child img,.s1 ul li:not(:first-child) img,.s3 img:first-of-type,.s3 img:nth-of-type(2),.s3 img:nth-of-type(3),.s3 img:nth-of-type(4),.s3 img:last-of-type{
  width:100%;
  height: 100%;
}

.s2 img{
width: 510px;
height: 220px;

}


body{
  width: 1366px;
  font-size: 20px;
  margin: 0 auto;
}

    /* =====トップにもどるボタン===== */
    .topBtn{
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 30;
      width: 100px;
      height: 100px;
  }

  .topBtn img{
    width: 100px;
    height: 100px;
  }
  /* =====トップにもどるボタンエンド===== */


h2{
  font-size: 48.24px;
}

h3{
  font-size: 36px ;
  text-align: left;


}

.s2 h2{
  text-align: center;
}

.s1 h3{
  font-weight: bold;
  letter-spacing: .3em;
}

.s2 h3 span{
  font-size: 24px;
  margin-left: 20px;
}

main,header,footer{
  padding: 0 83px;
}


header .menu{
  margin-right: 83px;
  padding: 20px;
  font-weight: bold;
  width: inherit;
  height: 94px;
  position: absolute;
  right: 0;
  z-index: 99;
  color: #fff;
  display: flex;
  gap: 20px;
}


header .TLogo{
  margin: 20px;
  width: 133px;
  height: 54px;
}

header .TN{
  top: 94px;
  left: 280px;
  width: 300px;
  height: 539.82px;
}


header span{
  width: 467px;
  height: 96px;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
}





footer{
  color: #fff;
  background-color: #007AB7;
}

footer .midFoot{
  background: url(../images/TaiwanLogo.svg) bottom center no-repeat;
  background-size: 256px 103px;
}

footer .flag{
width: 64px;
height: 48px;
margin: 20px auto;
}

footer ol{
  width: 195px;
  height: 167px;
  padding-bottom: 40px;
  text-align: left;
  margin: 20px;
}

footer div ol li{
  padding: 12px 0 6px;
  border-bottom: 1px solid #fff;
  line-height: 1;
}
  
footer div div{
  text-align: right;
  height: 32px;
  margin: 40px auto 12px;
}

footer div div img:not(last-child){
  margin-right: 20px;
}

footer>div:last-child{
  border-top: 1px solid #03A9F4 ;
  height: 34px;
  font-size: 10px;
}

footer span{
  display: inline-block;
  font-family: 'Noto Sans JP';
  margin: 12px auto;
}



h2{
  background-image: url(../images/h2.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 48px;
  width: 530px;
  height: 96px;
  margin: 20px;

}

ul li{
  width:inherit;
  height: inherit;

}

.s1 .s1Ul1{
  display: grid;
  row-gap: 40px;
  column-gap: 60px;
  grid-template-columns: 290px 290px 500px;
  grid-template-rows: 304px 160px;
  margin: 80px 0;
}

.s1 .s1Ul2{
  display: grid;
  row-gap: 40px;
  column-gap: 60px;
  grid-template-columns: 290px 290px 500px;
  grid-template-rows: 336px 160px;
  margin: 80px 0;
}

.s1 ul li:first-child{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  object-fit: cover;
}

.s1 ul li:nth-child(2){
  grid-column: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  padding: 40px;
  margin: 0;
}

.s1 ul li:nth-child(5){
  margin: 0;
  padding: 48px 40px;
}

.s2 div div{
  width: 100%;
}

.s2 span{
  margin: 40px 0;
}

.s2{
  padding: 60px;
  display: grid;
  grid-template-columns: 510px 510px;
  grid-template-rows: 96px 216px 492px 492px;
  gap: 60px;
  grid-template-areas: 
  ". h "
  "c . "
  "p1 p2"
  "p3 p4";
  text-align: left;
}

h2 span{
  font-size: 24px;
}

.s2 .s2comment{
  width: 100%;

  margin: 60px auto;
}

.s2 h2{
grid-area: h;
}
.s2 .s2comment{
grid-area: c;
}
.s2 .s2Div1{
  grid-area: p1;
}
.s2 .s2Div2{
  grid-area: p2;
}

.s2 .s2Div3{
  grid-area: p3;
}
.s2 .s2Div4{
  grid-area: p4;
}


.s3{
  display: grid;
  grid-template-columns: 510px 90px 420px;
  grid-template-rows:96px 204px 340px 214px 180px 96px 209px;
  grid-template-areas: 
  "hd . ."
  "lt . ."
  "p1 p1 l1"
  "p2 p3 p3"
  "l2 l2 l2"
  "p4 p4 l3"
  "p4 p4 p5";
  row-gap: 80px;
  column-gap: 60px;
  margin: 80px;
}

.s3 div{
  width: 420px;
}

.s3 h2{
grid-area: hd;
}
.s3 .h3comment{
grid-area: lt;

}
.s3 .s3Img1{
  grid-area: p1;
}
.s3 .s3Div1{
  grid-area: l1;
  padding: 74px 0;
}
.s3 .s3Img2{
  grid-area: p2;
}
.s3 .s3Img3{
  grid-area: p3;
}
.s3 .s3Div2{
  grid-area: l2;
  width: 100%;
  text-align: center;
  line-height: 6;
}
.s3 .s3Img4{
  grid-area: p4;
}
.s3 .s3Div3{
  grid-area: l3;
}
.s3 .s3Img5{
  grid-area: p5;
}


hr .lastHr{
  margin: 80px 0;
}

/* 
footer ol{
  display: inline-block;
  width: 195px;
  height: 167px;
  list-style:none
}

footer>img{
  padding: 20px auto;
}

footer div div img{
  width: 32px;
  height: 32px;
}


/* CSS,no-repeat　backgroundでロゴ追加 */

footer div div:first-child{
  width: 143px;
  height: 32px;
  border-bottom: 1px #03A9F4 ;
}
 */





/* 仮置き */


  
  /* メニューを画面上部に固定表示しています */
  .gMenu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  /* メニューアイコンを画面右上に固定しています */
  .gMenu .menu-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    padding-top: 13px;
    height: 12px;
  }
  /* メニューアイコン（三本線）の真ん中の線です */
  .gMenu .menu-icon .navicon {
    background: #B71B26; /* 色は自由に変更可能です */
    display: block;
    height: 2px; /* 太さ */
    width: 31px; /* 長さ */
    position: relative;
    transition: background .4s ease-out; /* 形が変わる時のアニメーション */
  }
  /* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
  .gMenu .menu-icon .navicon::before,
  .gMenu .menu-icon .navicon::after {
    background: #B71B26; /* 色は自由に変更可能です */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .4s ease-out; /* 形が変わる時のアニメーション */
    width: 100%;
  }
  .gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
  .gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
  /* 表示されるメニューです */
  .gMenu .menu {
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
    max-height: 0; /* ★最初は高さを0にして非表示状態に */
    transition: max-height .6s; /* 表示されるときのアニメーション */
    text-align: center;
  }
  /* メニュー部分のデザインです */
  .gMenu .menu li:first-of-type {
    padding-top: 50px;
  }
  .gMenu .menu li a {
    display: block;
    padding: 24px 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .gMenu .menu li a:hover {
    background-color: #f4f4f4;
  }
  /* チェックボックスは常に非表示です */
  .gMenu .menu-btn {
    display: none;
  }
  /* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
  .gMenu .menu-btn:checked ~ .menu {
    max-height: 532px; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
    transition: max-height .6s;
  }
  /* メニューボタンの中央の線を非表示に */
  .gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}
  
  /* メニューボタンの上下の線を45度傾けて✕印を作ります */
  .gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-36.51deg);top: 0;}
  .gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(37.55deg);top: 0;}
  

}